/*Colour scheme
Orange: deep-orange #ff5722
Yellow: amber darken-1 #ffb300
Blue: light-blue accent-3 #00b0ff
Green: light-green darken-2 #689f38
Navy: indigo darken-4 #1a237e
*/

@import url(https://fonts.googleapis.com/css?family=Gudea);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

html {
  font-size: 1.7rem !important;
}

h3 {
  font-family: 'Gudea', sans-serif !important;
  font-size: 1.2rem !important;

}

h1, h2, h4, h5 {
  font-size: 1.7rem;
  font-family: 'Shadows Into Light', cursive !important;
}

nav ul a,
nav .brand-logo {
  color: #ffb300;
}

p {
  font-size: 0.8rem !important;
  line-height: 1.5rem;
}

.button-collapse {
  color: #1a237e;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
